/* https://open-props.style */
/* https://yeun.github.io/open-color */
@import 'https://unpkg.com/open-props';

/* https://picocss.com/docs */
@import 'https://unpkg.com/@picocss/pico';

/* MDL shadows */
/* https://material.io/design/environment/elevation.html */
:root {
  --shadow-none: inset 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);

  --shadow-border: inset 0 0 0 rgba(10, 10, 10, 0.1), 0 0 0 0 rgba(10, 10, 10, 0.1), 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  --shadow-1: inset 0 0 0 rgba(0, 0, 0, 0.12), inset 0 0 0 rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: inset 0 0 0 rgba(0, 0, 0, 0.16), inset 0 0 0 rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: inset 0 0 0 rgba(0, 0, 0, 0.19), inset 0 0 0 rgba(0, 0, 0, 0.23), 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-4: inset 0 0 0 rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.22), 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-5: inset 0 0 0 rgba(0, 0, 0, 0.3), inset 0 0 0 rgba(0, 0, 0, 0.22), 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);

  --inset-shadow-border: inset 0 2px 3px rgba(10, 10, 10, 0.1), inset 0 0 0 1px rgba(10, 10, 10, 0.1), 0 0 0 rgba(10, 10, 10, 0.1),
    0 0 0 0 rgba(10, 10, 10, 0.1);
  --inset-shadow-1: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24), 0 0 0 rgba(0, 0, 0, 0.12),
    0 0 0 rgba(0, 0, 0, 0.24);
  --inset-shadow-2: inset 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 3px 6px rgba(0, 0, 0, 0.23), 0 0 0 rgba(0, 0, 0, 0.16),
    0 0 0 rgba(0, 0, 0, 0.23);
  --inset-shadow-3: inset 0 10px 20px rgba(0, 0, 0, 0.19), inset 0 6px 6px rgba(0, 0, 0, 0.23), 0 0 0 rgba(0, 0, 0, 0.19),
    0 0 0 rgba(0, 0, 0, 0.23);
  --inset-shadow-4: inset 0 14px 28px rgba(0, 0, 0, 0.25), inset 0 10px 10px rgba(0, 0, 0, 0.22), 0 0 0 rgba(0, 0, 0, 0.25),
    0 0 0 rgba(0, 0, 0, 0.22);
  --inset-shadow-5: inset 0 19px 38px rgba(0, 0, 0, 0.3), inset 0 15px 12px rgba(0, 0, 0, 0.22), 0 0 0 rgba(0, 0, 0, 0.3),
    0 0 0 rgba(0, 0, 0, 0.22);
}

a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-hover);
}

/* Nerd Font */
/* nerdfont.com */
/* nerdfont.com/cheatsheet */
@import 'https://octoshrimpy.github.io/microcss/nf.css';

/*
  iconYouWantGoesHere = class from cheatsheet

  <span class='icon'>
    <i class='nf-iconYouWantGoesHere'>
  </span>

*/
